{% extends "base.html" %}
{% block title %}Service - Mushtastic Intelligence{% endblock %}
{% block content %}
<div class="container py-5">
        <h1 class="mb-4">Our Services</h1>
        <p>At Mushtastic Intelligence, we offer:</p>
        <ul>
            <li>Engaging YouTube Shorts</li>
            <li>Educational and entertaining content</li>
            <li>Regular updates on fascinating topics</li>
        </ul>
        <p>Check out our YouTube channel for more!</p>
        <a href="https://www.youtube.com/@mustastic_intelligence" target="_blank" class="btn btn-danger">Visit Channel</a>
    </div>
{% endblock %}